header {
  height: 400px;
  width: 100%;
  align-items: center
  background-color #e6d412;
  background-image: url("https://www.transparenttextures.com/patterns/assault.png");
  /* color: #ffffff */
  position: relative; 
}


header img {
  position: absolute;
  width: 250px;
  height: 250px;
  margin: auto;
  left: 0;
  right: 0;
}


header h2 {
  position: absolute;
  text-align: center;
  margin: auto;
  left: 0;
  right: 0;
  top: 50%
}