header {
  height: 400px;
  width: 100%;
  background-color: coral;
  background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
  position: relative; 
}

header img {
  position: absolute;
  width: 275px;
  height: 275px;
  margin: auto;
  top: 125px;
  left: 0;
  right: 0;
}

header h2 {
  position: absolute;
  text-align: center;
  margin: 140px;
  left: 0;
  right: 0;
  top: 50%
}

@media (min-width: 800px) {
  body > header {
    width: 30%;
    float: left;
    margin: 170px 0px 0px 50px;
    position: fixed;
  }
}