
.new-tweet {
  padding: 10px 20px;
  margin: 20px 1px 1px 1px;
  box-shadow: 3px 2px 10px 2px #CACFD2;
  background-color: blanchedalmond;
}

.new-tweet h2 {
  justify-content: left;
  margin: 0 0 20px;
  color: #566573;
  background-color: blanchedalmond;
}

textarea {
  width: 100%;
  height: 2em;
  border: none;
  border-bottom: 3px solid #566573;
  color: #17202a;
  background-color: blanchedalmond;
  resize: none
}

textarea::placeholder {
  color: black;
}

input {
  background-color: coral;
  font-family: 'Source Sans Pro', sans-serif;
  color: blanchedalmond;
  padding: 10px;
  margin-top: -1px;
}

span.counter {
  float: right;
  font-family: 'Bungee', sans-serif;
  
  }

  span.counter.tweetTooLong {
    float: right;
    font-family: 'Bungee', sans-serif;
    color: red
  }