<form id='new-tweet' action=/new-tweet method='POST'>
  <textarea id = 'tweet-input' rows='1'name='text' placeholder='What are you humming about?'></textarea>
  <input id='tweet-button' type='submit' value='tweet'>
  <span id='word-counter'>140</span>

new-tweet {
  position: relative;
  width: 100%;
  margin: auto
}

textarea {
  border: 0 solid black;
  box-sizing: border-box;
  background-color: rgb(255, 245, 240);
  display: inline;
  font-family: 'Source Sans Pro', sans-serif;
  /* width: 100%; */
  /* margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px; */
  white-space: pre-wrap;
  word-wrap: break-word;
}

textarea::placeholder {
  color: black;
}

input {
  background-color: coral;
  font-family: 'Source Sans Pro', sans-serif;
  color: #ffffff;
  margin-top: 12px;
}

span.counter {
  border: 0 solid black;
  box-sizing: border-box;
  color: black;
  display: inline;
  font-family: 'Bungee', sans-serif;
  white-space: pre-wrap;
  word-break: break-word; 
  }

  span.counter.tweetTooLong {
    /* font-family: inherit; */
    color: red
  }